<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolzap</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        <div id="root">
            <div id="container">
                <aside>
                    <header>
                        <div class="avatar">
                            <img src="img/my_avatar.png">
                        </div>

                        <div class="actions">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <section id="search-contacts">
                        <div id="notifications">
                            <div class="icon">
                                <i class="fas fa-bell-slash"></i>
                            </div>

                            <div class="text">
                                <div class="top">
                                    Ricevi notifiche di nuovi messaggi
                                </div>
                                <div class="bottom">
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                        </div>

                        <div id="search-bar">
                            <button>
                                <i class="fas fa-search"></i>
                            </button>
                            <input placeholder="Cerca un contatto" v-model="contactSearched">
                        </div>

                        <div id="contacts">
                            <div class="contact" v-for="(contact, index) in contacts" @click="currentIndex = index" :class="{'current' : currentIndex == index}" v-if="matched(contact, contactSearched)">
                                <img :src="'img/avatar_' + (index + 1) + '.png'">
                                <div class="info">
                                    <div class="name">
                                        {{ contact.name }}
                                    </div>
                                    <div class="last-message">
                                        {{ getTextOf(lastMessage(contact)) }}
                                    </div>
                                </div>
                                <div class="hour">
                                    {{ getDayOf(lastMessage(contact)) == 'OGGI' ? getHourOf(lastMessage(contact)) : getDayOf(lastMessage(contact)) }}
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>

                <main>
                    <header>
                        <div class="avatar">
                            <img :src="'img/avatar_' + (currentIndex + 1) + '.png'">
                            <div class="info">
                                <div class="name">
                                    {{ contacts[currentIndex].name }}
                                </div>
                                <div class="last-access">
                                    Ultimo accesso oggi alle 15:40
                                </div>
                            </div>
                        </div>

                        <div class="actions">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <section id="chat">
                        <div id ="messages">
                            <div class="message-container" v-for="(element, index) in contacts[currentIndex].messages">
                                <div class="day" v-if="getDayOf(element) != getDayOf(contacts[currentIndex].messages[index-1])">
                                    <span>
                                        {{ getDayOf(element) }}
                                    </span>
                                </div>
                                <div class="message" :class="element.status">
                                    <div class="text">
                                        {{ getTextOf(element) }}
                                    </div>
                                    <div class="hour">
                                        {{ getHourOf(element) }}
                                    </div>
                                    <div class="arrow" @click="showDropdown != index ? showDropdown = index : showDropdown = undefined">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                    <ul class="dropdown" :class="{'visible' : showDropdown}" v-if="showDropdown == index">
                                        <li>
                                            Info messaggio
                                        </li>
                                        <li @click="deleteMessage(index)">
                                            Elimina messaggio
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="send-message">
                            <div class="icon">
                                <i class="far fa-smile"></i>
                            </div>
                            <div id="new-message">
                                <input placeholder="Scrivi un messaggio" v-model="newMessage" @focus="isWriting = true" @blur="isWriting = false" @keypress.enter="sendMessage">
                            </div>
                            <div class="icon" @click="sendMessage">
                                <i class="fas fa-microphone" v-if="!isWriting"></i>
                                <i class="fas fa-play" v-if="isWriting"></i>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>



        <!-- ******************* javascript ******************* -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
