<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolzap</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        <div id="root" v-cloak>
            <div id="container">
                <!-- beginning of the panel's left part -->
                <aside>
                    <header>
                        <div class="avatar">
                            <img :src="'img/avatar' + user.avatar + '.png'">
                            <div class="info">
                                <div class="name">
                                    {{ user.name }}
                                </div>
                            </div>
                        </div>

                        <div class="actions">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <section id="search-contacts">
                        <div id="notifications">
                            <div class="icon">
                                <i class="fas fa-bell-slash"></i>
                            </div>

                            <div class="text">
                                <div class="top">
                                    Ricevi notifiche di nuovi messaggi
                                </div>
                                <div class="bottom">
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                        </div>

                        <div id="search-bar">
                            <button @click="contactSearched = ''">
                                <i class="fas fa-search" v-if="contactSearched == ''"></i>
                                <i class="fas fa-arrow-left" v-else></i>
                            </button>
                            <input placeholder="Cerca un contatto" v-model="contactSearched">
                        </div>

                        <div id="contacts">
                            <div class="contact" v-for="(contact, index) in contacts" @click="currentIndex = index; showDropdown = undefined" :class="{'current' : currentIndex == index}" v-if="matchTheSearch(contact)">
                                <img :src="'img/avatar' + contact.avatar + '.png'">
                                <div class="info">
                                    <div class="name">
                                        {{ contact.name }}
                                    </div>
                                    <div class="last-message">
                                        {{ getTextOf(lastMessage(contact)) }}
                                    </div>
                                </div>
                                <div class="hour">
                                    {{ getDayOf(lastMessage(contact)) == 'OGGI' ? getHourOf(lastMessage(contact)) : getDayOf(lastMessage(contact)) }}
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
                <!-- end of the panel's left part -->

                <!-- beginning of the panel's right part -->
                <main>
                    <header>
                        <div class="avatar">
                            <img :src="'img/avatar' + contacts[currentIndex].avatar + '.png'">
                            <div class="info">
                                <div class="name">
                                    {{ contacts[currentIndex].name }}
                                </div>
                                <div class="last-access">
                                    Ultimo accesso oggi alle 15:40
                                </div>
                            </div>
                        </div>

                        <div class="actions">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <section id="chat">
                        <div id ="messages">
                            <div class="message-container" v-for="(messageObject, index) in contacts[currentIndex].messages">
                                <div class="day" v-if="getDayOf(messageObject) != getDayOf(contacts[currentIndex].messages[index-1])">
                                    <span>
                                        {{ getDayOf(messageObject) }}
                                    </span>
                                </div>
                                <div class="message" :class="messageObject.status">
                                    <div class="text">
                                        {{ getTextOf(messageObject) }}
                                    </div>
                                    <div class="hour">
                                        {{ getHourOf(messageObject) }}
                                    </div>
                                    <div class="arrow" @click="showDropdown != index ? showDropdown = index : showDropdown = undefined">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                    <ul class="dropdown" v-if="showDropdown == index">
                                        <li>
                                            Info messaggio
                                        </li>
                                        <li @click="messageClicked = index; showDeletionWindow = true; showDropdown = undefined">
                                            Elimina messaggio
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="send-message">
                            <div class="icon">
                                <i class="far fa-smile"></i>
                            </div>
                            <div id="new-message">
                                <input placeholder="Scrivi un messaggio" v-model="newMessage" @keypress.enter="sendMessage">
                            </div>
                            <div class="icon" @click="sendMessage">
                                <i class="fas fa-microphone" v-if="newMessage == ''"></i>
                                <i class="fas fa-play send" v-else></i>
                            </div>
                        </div>
                    </section>
                </main>
                <!-- end of the panel's right part -->
            </div>

            <div id="confirm-deletion" v-if="showDeletionWindow">
                <div class="window">
                    <div class="question">
                        Sei sicuro di voler eliminare il messaggio?
                    </div>
                    <div class="answer">
                        <button @click="deleteMessage(messageClicked); showDeletionWindow = false">Sì</button>
                        <button @click="showDeletionWindow = false">No</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- ******************* javascript ******************* -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
