* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    position: relative;
    height: 100vh;
    background: linear-gradient(0deg, lightgrey 85%, #008068 85%);
}

#container {
    display: flex;
    position: absolute;
    top: 3vh;
    left: 10vw;
    height: 94vh;
    width : 80vw;
}

aside {
    width: 35%;
    background-color: red;
    border-right: 1px solid white;
}

main {
    width: 65%;
    background-color: blue;
}

header {
    height: 10%;
    background-color: black;
}
