* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    position: relative;
    height: 100vh;
    background: linear-gradient(0deg, lightgrey 85%, #008068 85%);
}

#container {
    display: flex;
    position: absolute;
    top: 3vh;
    left: 10vw;
    height: 94vh;
    width : 80vw;
}

aside {
    width: 35%;
    background-color: red;
    border-right: 1px solid white;
}

main {
    width: 65%;
}

header {
    height: 10%;
    padding: 8px;
    background-color: black;
    color: white;
}

.avatar {
    display: flex;
    height: 100%;
    float: left;
}

.avatar img {
    height: 100%;
}

.avatar .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    font-size: 14px;
}

.actions {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.actions i {
    margin-right: 15px;
}

#chat {
    height: 90%;
}

#chat .message {
    padding: 15px;
    border-radius: 8px;
    clear: both;
    max-width: 30%;
    font-size: 14px;
    margin-bottom: 10px;
}

#chat .message.received {
    float: left;
    background-color: white;
}

#chat .message.sent {
    float: right;
    background-color: #91f483;
}

#chat #messages {
    height: 90%;
    padding: 50px 100px;
    background-image: url('img/chat_bg.png');
    background-size: contain;
    overflow-y: scroll;
}

#chat #send-message {
    display: flex;
    align-items: center;
    height: 10%;
    background-color: rgb(185, 195, 199);
    padding: 10px 30px;
}

#chat #new-message {
    flex-grow: 1;
    align-self: stretch;
    margin: 0 30px;
}

#chat #new-message input {
    width: 100%;
    height: 100%;
}
