* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(133, 133, 133);
    font-size: 12px;
}

input {
    border: 0;
    border-radius: 5px;
    outline: none;
}

button {
    border: 0;
    border-radius: 5px;
    background-color: white;
    color: grey;
    cursor: pointer;
}

i {
    cursor: pointer;
}

#root {
    position: relative;
    height: 100vh;
    background: linear-gradient(0deg, lightgrey 80%, #008068 80%);
}

#container {
    display: flex;
    position: absolute;
    top: 3vh;
    left: 10vw;
    height: 94vh;
    width : 80vw;
    min-width: 700px;
    box-shadow: 0 10px 20px -5px rgba(91, 91, 91, 1);
}

aside {
    width: 35%;
    background-color: rgba(171, 171, 171, 0.2);
}

main {
    width: 65%;
}

header {
    height: 10%;
    padding: 8px;
    background-color: #e8e8e8;
}

aside header {
    border-right: 1px solid rgb(182, 182, 182);
}

.avatar,
.contact {
    display: flex;
}

header .avatar {
    height: 100%;
    float: left;
}

.avatar img,
.contact img {
    height: 100%;
}

.avatar .info,
.contact .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.actions {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    font-size: 18px;
}

.actions i {
    margin-right: 15px;
}

.info .name,
.message .text,
#notifications .text .top {
    color: black;
    font-size: 15px;
}

#search-contacts {
    height: 90%;
    background-color: white;
}

#notifications {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 8px 16px;
    background-color: #019bca69;
}

#notifications .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
    color: #019bca69;
}

#search-bar {
    display: flex;
    height: 45px;
    padding: 8px;
    background-color: #e8e8e8;
}

#search-bar input {
    flex-grow: 1;
}

#search-bar button {
    width: 45px;
    margin-right: 5px;
    line-height: 100%;
}

#contacts {
    height: calc(100% - 105px);
    overflow-y: scroll;
}

.contact {
    display: flex;
    height: 9vh;
    padding: 8px 16px;
    border-top: 1px solid rgba(171, 171, 171, 0.2);
    cursor: pointer;
}

.contact:hover {
    background-color: rgba(162, 179, 207, 0.29);
}

.contact.current {
    background-color: #6d92ce5e;
}

.contact .hour {
    flex-grow: 1;
    text-align: right;
    font-size: 12px;
}

#chat {
    height: 90%;
}

#chat #messages {
    height: 90%;
    padding: 50px 100px;
    background-image: url('img/chat_bg.png');
    background-size: contain;
    overflow-y: scroll;
}

#chat .message {
    position: relative;
    clear: both;
    padding: 20px 25px;
    margin-bottom: 10px;
    max-width: 40%;
    border-radius: 8px;
    font-size: 14px;
}

#chat .message.received {
    float: left;
    background-color: white;
}

#chat .message.sent {
    float: right;
    background-color: #91f483;
}

#chat .message .hour {
    position: absolute;
    right: 3px;
    bottom: 5px;
    font-size: 8px;
}

#chat .message:hover .hour{
    display: none;
}

#chat .message .arrow {
    display: none;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 0;
    font-weight: 900;
    cursor: pointer;
}

#chat .message:hover .arrow {
    display: block;
}

#chat .message .dropdown {
    position: absolute;
    right: 0;
    top: 70%;
    width: 130px;
    z-index: 1;
    border-radius: 8px;
    list-style-type: none;
    background-color: white;
    font-weight: normal;
    box-shadow: 0 10px 30px -5px rgba(91, 91, 91, 1);
}

#chat .message .dropdown li {
    padding: 10px;
    cursor: pointer;
}

#chat .message .dropdown li:hover {
    background-color: rgba(162, 179, 207, 0.29);
}

#chat #send-message {
    display: flex;
    align-items: center;
    height: 10%;
    padding: 10px 30px;
    background-color: #e8e8e8;
}

#chat #new-message {
    flex-grow: 1;
    align-self: stretch;
    margin: 0 30px;
}

#chat #new-message input {
    width: 100%;
    height: 100%;
}

#send-message .icon,
#send-message .icon {
    font-size: 18px;
    max-width: 12px;
}
